<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <handlers>
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\App\Anaconda\envs\paddleocr\python.exe|D:\App\Anaconda\envs\paddleocr\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>

    <applicationInitialization doAppInitAfterRestart="true" remapManagedRequestsTo="Python FastCGI" skipManagedModules="true">
      <add initializationPage="/ping" />
    </applicationInitialization>

    <fastCgi>
      <application fullPath="D:\App\Anaconda\envs\paddleocr\python.exe" arguments="&quot;D:\App\Anaconda\envs\paddleocr\Lib\site-packages\wfastcgi.py&quot;" maxInstances="1" instanceMaxRequests="10000" activityTimeout="3600" requestTimeout="3600" signalBeforeTerminateSeconds="30" />
    </fastCgi>
    
    <modules runAllManagedModulesForAllRequests="true" />
    <httpErrors existingResponse="PassThrough" />

  </system.webServer>

  <appSettings>
    <add key="WSGI_HANDLER" value="App.main_iis.app" />
    <add key="PYTHONPATH" value="D:\Work\Asoft\Code\PaddleOCR\Project" />
    <add key="PYTHONIOENCODING" value="utf-8" />
    <add key="PYTHONUNBUFFERED" value="1" />
    <add key="PATH" value="D:\App\Anaconda\envs\paddleocr;D:\App\Anaconda\envs\paddleocr\Scripts;D:\App\Anaconda\envs\paddleocr\Library\bin;D:\App\Anaconda\envs\paddleocr\DLLs;C:\Windows\system32;C:\Windows" />
  </appSettings>

</configuration>


