USE [MEIKO2026]
GO
/****** Object:  Table [dbo].[ONT1040]    Script Date: 09/09/2026 3:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ONT1040](
	[APK] [uniqueidentifier] NOT NULL,
	[DivisionID] [varchar](50) NULL,
	[TypeConfigID] [nvarchar](50) NOT NULL,
	[TypeName] [nvarchar](250) NULL,
	[ModuleID] [varchar](50) NULL,
	[IsUsed] [bit] NULL,
	[RoleConfig] [tinyint] NULL,
	[Description] [nvarchar](500) NULL,
	[Disabled] [tinyint] NULL,
	[CreateDate] [datetime] NULL,
	[CreateUserID] [nvarchar](50) NULL,
	[LastModifyDate] [datetime] NULL,
	[LastModifyUserID] [varchar](50) NULL,
 CONSTRAINT [PK_ONT1040] PRIMARY KEY CLUSTERED 
(
	[APK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ONT1041]    Script Date: 09/09/2026 3:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ONT1041](
	[APK] [uniqueidentifier] NOT NULL,
	[APK_ONT1040] [uniqueidentifier] NOT NULL,
	[ParameterID] [varchar](50) NOT NULL,
	[ParameterName] [nvarchar](250) NULL,
	[DisplayName] [nvarchar](250) NULL,
	[NodeParent] [varchar](50) NULL,
	[IsUsed] [bit] NULL,
	[ParameterRole] [tinyint] NULL,
	[OrdinalNumber] [int] NULL,
	[Description] [nvarchar](500) NULL,
	[Disabled] [tinyint] NULL,
	[CreateDate] [datetime] NULL,
	[CreateUserID] [varchar](50) NULL,
	[LastModifyDate] [datetime] NULL,
	[LastModifyUserID] [varchar](50) NULL,
 CONSTRAINT [PK_ONT1041] PRIMARY KEY CLUSTERED 
(
	[APK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ONT1042]    Script Date: 09/09/2026 3:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ONT1042](
	[APK] [uniqueidentifier] NOT NULL,
	[APK_ONT1040] [uniqueidentifier] NULL,
	[DivisionID] [varchar](50) NULL,
	[PromptID] [varchar](50) NOT NULL,
	[PromptName] [nvarchar](250) NOT NULL,
	[ModuleID] [nvarchar](250) NOT NULL,
	[PromptBussiness] [nvarchar](max) NULL,
	[PromptHandle] [nvarchar](max) NULL,
	[PromptInput] [nvarchar](max) NULL,
	[PromptOutput] [nvarchar](max) NULL,
	[Version] [float] NULL,
	[Description] [nvarchar](500) NULL,
	[Disabled] [tinyint] NULL,
	[CreateDate] [datetime] NULL,
	[CreateUserID] [varchar](50) NULL,
	[LastModifyDate] [datetime] NULL,
	[LastModifyUserID] [varchar](50) NULL,
	[ParameterID01] [uniqueidentifier] NULL,
	[ParameterID02] [uniqueidentifier] NULL,
	[ParameterID03] [uniqueidentifier] NULL,
	[ParameterID04] [uniqueidentifier] NULL,
	[ParameterID05] [uniqueidentifier] NULL,
	[ParameterID06] [uniqueidentifier] NULL,
	[ParameterID07] [uniqueidentifier] NULL,
	[ParameterID08] [uniqueidentifier] NULL,
	[ParameterID09] [uniqueidentifier] NULL,
	[ParameterID10] [uniqueidentifier] NULL,
	[ParameterID11] [uniqueidentifier] NULL,
	[ParameterID12] [uniqueidentifier] NULL,
	[ParameterID13] [uniqueidentifier] NULL,
	[ParameterID14] [uniqueidentifier] NULL,
	[ParameterID15] [uniqueidentifier] NULL,
	[ParameterID16] [uniqueidentifier] NULL,
	[ParameterID17] [uniqueidentifier] NULL,
	[ParameterID18] [uniqueidentifier] NULL,
	[ParameterID19] [uniqueidentifier] NULL,
	[ParameterID20] [uniqueidentifier] NULL,
	[ParameterID21] [uniqueidentifier] NULL,
	[ParameterID22] [uniqueidentifier] NULL,
	[ParameterID23] [uniqueidentifier] NULL,
	[ParameterID24] [uniqueidentifier] NULL,
	[ParameterID25] [uniqueidentifier] NULL,
	[ParameterID26] [uniqueidentifier] NULL,
	[ParameterID27] [uniqueidentifier] NULL,
	[ParameterID28] [uniqueidentifier] NULL,
	[ParameterID29] [uniqueidentifier] NULL,
	[ParameterID30] [uniqueidentifier] NULL,
	[ParameterID31] [uniqueidentifier] NULL,
	[ParameterID32] [uniqueidentifier] NULL,
	[ParameterID33] [uniqueidentifier] NULL,
	[ParameterID34] [uniqueidentifier] NULL,
	[ParameterID35] [uniqueidentifier] NULL,
	[ParameterID36] [uniqueidentifier] NULL,
	[ParameterID37] [uniqueidentifier] NULL,
	[ParameterID38] [uniqueidentifier] NULL,
	[ParameterID39] [uniqueidentifier] NULL,
	[ParameterID40] [uniqueidentifier] NULL,
	[ParameterID41] [uniqueidentifier] NULL,
	[ParameterID42] [uniqueidentifier] NULL,
	[ParameterID43] [uniqueidentifier] NULL,
	[ParameterID44] [uniqueidentifier] NULL,
	[ParameterID45] [uniqueidentifier] NULL,
	[ParameterID46] [uniqueidentifier] NULL,
	[ParameterID47] [uniqueidentifier] NULL,
	[ParameterID48] [uniqueidentifier] NULL,
	[ParameterID49] [uniqueidentifier] NULL,
	[ParameterID50] [uniqueidentifier] NULL,
	[ParameterID51] [uniqueidentifier] NULL,
	[ParameterID52] [uniqueidentifier] NULL,
	[ParameterID53] [uniqueidentifier] NULL,
	[ParameterID54] [uniqueidentifier] NULL,
	[ParameterID55] [uniqueidentifier] NULL,
	[ParameterID56] [uniqueidentifier] NULL,
	[ParameterID57] [uniqueidentifier] NULL,
	[ParameterID58] [uniqueidentifier] NULL,
	[ParameterID59] [uniqueidentifier] NULL,
	[ParameterID60] [uniqueidentifier] NULL,
	[ParameterID61] [uniqueidentifier] NULL,
	[ParameterID62] [uniqueidentifier] NULL,
	[ParameterID63] [uniqueidentifier] NULL,
	[ParameterID64] [uniqueidentifier] NULL,
	[ParameterID65] [uniqueidentifier] NULL,
	[ParameterID66] [uniqueidentifier] NULL,
	[ParameterID67] [uniqueidentifier] NULL,
	[ParameterID68] [uniqueidentifier] NULL,
	[ParameterID69] [uniqueidentifier] NULL,
	[ParameterID70] [uniqueidentifier] NULL,
	[ParameterID71] [uniqueidentifier] NULL,
	[ParameterID72] [uniqueidentifier] NULL,
	[ParameterID73] [uniqueidentifier] NULL,
	[ParameterID74] [uniqueidentifier] NULL,
	[ParameterID75] [uniqueidentifier] NULL,
	[ParameterID76] [uniqueidentifier] NULL,
	[ParameterID77] [uniqueidentifier] NULL,
	[ParameterID78] [uniqueidentifier] NULL,
	[ParameterID79] [uniqueidentifier] NULL,
	[ParameterID80] [uniqueidentifier] NULL,
	[ParameterID81] [uniqueidentifier] NULL,
	[ParameterID82] [uniqueidentifier] NULL,
	[ParameterID83] [uniqueidentifier] NULL,
	[ParameterID84] [uniqueidentifier] NULL,
	[ParameterID85] [uniqueidentifier] NULL,
	[ParameterID86] [uniqueidentifier] NULL,
	[ParameterID87] [uniqueidentifier] NULL,
	[ParameterID88] [uniqueidentifier] NULL,
	[ParameterID89] [uniqueidentifier] NULL,
	[ParameterID90] [uniqueidentifier] NULL,
	[ParameterID91] [uniqueidentifier] NULL,
	[ParameterID92] [uniqueidentifier] NULL,
	[ParameterID93] [uniqueidentifier] NULL,
	[ParameterID94] [uniqueidentifier] NULL,
	[ParameterID95] [uniqueidentifier] NULL,
	[ParameterID96] [uniqueidentifier] NULL,
	[ParameterID97] [uniqueidentifier] NULL,
	[ParameterID98] [uniqueidentifier] NULL,
	[ParameterID99] [uniqueidentifier] NULL,
	[ParameterID100] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ONT1042] PRIMARY KEY CLUSTERED 
(
	[APK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[ONT1040] ([APK], [DivisionID], [TypeConfigID], [TypeName], [ModuleID], [IsUsed], [RoleConfig], [Description], [Disabled], [CreateDate], [CreateUserID], [LastModifyDate], [LastModifyUserID]) VALUES (N'dc49ebb6-099c-4d2f-838c-000ce1ded350', N'MK', N'BEM_AGENT_READFILE', N'Trích xuất dữ liệu', N'ASOFTBEM', 1, 0, N'Trích xuất dữ liệu từ file đính kèm', 0, CAST(N'2026-04-02T15:03:36.670' AS DateTime), N'ASOFTADMIN', CAST(N'2026-04-02T15:03:36.670' AS DateTime), N'ASOFTADMIN')
INSERT [dbo].[ONT1040] ([APK], [DivisionID], [TypeConfigID], [TypeName], [ModuleID], [IsUsed], [RoleConfig], [Description], [Disabled], [CreateDate], [CreateUserID], [LastModifyDate], [LastModifyUserID]) VALUES (N'0f59b9c6-872d-48a0-a1f0-25b777b60249', N'MK', N'BEM_AGENT_COMPAREPAYMENTREQUEST', N'Đối chiếu DNTT', N'ASOFTBEM', 1, 0, N'Loại cấu hình đối chiếu DNTT', 0, CAST(N'2026-04-02T15:03:36.670' AS DateTime), N'ASOFTADMIN', CAST(N'2026-04-02T15:03:36.670' AS DateTime), N'ASOFTADMIN')
INSERT [dbo].[ONT1040] ([APK], [DivisionID], [TypeConfigID], [TypeName], [ModuleID], [IsUsed], [RoleConfig], [Description], [Disabled], [CreateDate], [CreateUserID], [LastModifyDate], [LastModifyUserID]) VALUES (N'6e106fa2-79eb-4298-b706-5e56d152fd55', N'MK', N'BEM_FILETYPE', N'Loại file', N'ASOFTBEM', 1, 1, N'Thông tin về loại file', 0, CAST(N'2026-04-02T15:03:36.670' AS DateTime), N'ASOFTADMIN', CAST(N'2026-04-02T15:03:36.670' AS DateTime), N'ASOFTADMIN')
GO
INSERT [dbo].[ONT1041] ([APK], [APK_ONT1040], [ParameterID], [ParameterName], [DisplayName], [NodeParent], [IsUsed], [ParameterRole], [OrdinalNumber], [Description], [Disabled], [CreateDate], [CreateUserID], [LastModifyDate], [LastModifyUserID]) VALUES (N'e751b4e8-62c9-46a2-bc57-004770f91dfd', N'dc49ebb6-099c-4d2f-838c-000ce1ded350', N'FieldID64', NULL, NULL, NULL, NULL, NULL, 64, NULL, NULL, CAST(N'2026-04-23T08:38:21.353' AS DateTime), N'ASOFTADMIN', CAST(N'2026-04-23T08:38:21.353' AS DateTime), N'ASOFTADMIN')
INSERT [dbo].[ONT1041] ([APK], [APK_ONT1040], [ParameterID], [ParameterName], [DisplayName], [NodeParent], [IsUsed], [ParameterRole], [OrdinalNumber], [Description], [Disabled], [CreateDate], [CreateUserID], [LastModifyDate], [LastModifyUserID]) VALUES (N'9955f20b-6c0b-405e-bcf5-0088585121de', N'dc49ebb6-099c-4d2f-838c-000ce1ded350', N'FieldID63', NULL, NULL, NULL, NULL, NULL, 63, NULL, NULL, CAST(N'2026-04-23T08:38:21.353' AS DateTime), N'ASOFTADMIN', CAST(N'2026-04-23T08:38:21.353' AS DateTime), N'ASOFTADMIN')
INSERT [dbo].[ONT1041] ([APK], [APK_ONT1040], [ParameterID], [ParameterName], [DisplayName], [NodeParent], [IsUsed], [ParameterRole], [OrdinalNumber], [Description], [Disabled], [CreateDate], [CreateUserID], [LastModifyDate], [LastModifyUserID]) VALUES (N'a4e19bec-8747-4907-a5c8-010191d5c841', N'6e106fa2-79eb-4298-b706-5e56d152fd55', N'FileTypeID21', NULL, NULL, NULL, NULL, NULL, 21, NULL, NULL, CAST(N'2026-04-23T08:38:21.353' AS DateTime), N'ASOFTADMIN', CAST(N'2026-04-23T08:38:21.353' AS DateTime), N'ASOFTADMIN')
GO
